@import '../globals'
@import './transition';

.fade-link(@base: @red, @hover: @grey) {
  font-family: @amble-regular-font;
  font-size: 16px;
  color: @hover;
  background-color: @base;
  border: 1px solid @hover;
  padding: 15px 25px;
  display: inline-block;
  position: relative;
  .transition();
  &:hover, &:active {
    color: @base;
    background-color: @hover;
    text-decoration: none;
  }
  &:after {
    content: '';
    position: absolute;
    .transition();
  }
}
