<div class="consulting2 slide">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 class="text-center" translate>{{ "SERVICES.CONSULTING.CONTENT.H4" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-wrench"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "SERVICES.CONSULTING.CONTENT.H5" }}</h3>
          <p translate>{{ "SERVICES.CONSULTING.CONTENT.P5" }}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="body">
          <a href="mailto:contact@redpelicans.com" translate>{{ 'CONTACTUS' }}</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-flag"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "SERVICES.CONSULTING.CONTENT.H6" }}</h3>
          <p translate>{{ "SERVICES.CONSULTING.CONTENT.P6" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
