<div class="slide">
  <p translate>{{ 'SERVICES.HOME.DESCRIPTION.P1' }}</p>
  <div class="separator-grey"><span></span></div>
  <p><strong translate>{{ 'SERVICES.HOME.DESCRIPTION.P2' }}</strong></p>
  <div class="separator-grey"><span></span></div>
  <p translate>{{ 'SERVICES.HOME.DESCRIPTION.P3' }}</p>
  <div class="separator-grey"><span></span></div>
  <p translate>{{ 'SERVICES.HOME.LIST.P' }}</p>
  <ul>
    <li ng-repeat="i in [0,1,2,3,4,5,6,7,8]" translate>{{ 'SERVICES.HOME.LIST.LI'+$index }}</li>
  </ul>
</div>
