<div class="javascript1 strip">
  <h2 class="text-center" translate>{{ "SERVICES.JAVASCRIPT1.STRIP" }}</h2>
</div>

<div class="javascript1 slide">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center" translate>{{ "SERVICES.JAVASCRIPT1.H1" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-signal"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.H1" }}</h3>
          <p translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.P1" }}</p>
          <img src="images/performance.png" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-globe"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.H2" }}</h3>
          <p translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.P2" }}</p>
          <img src="images/ecosystem.png" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-heart"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.H3" }}</h3>
          <p translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.P3" }}</p>
          <img src="images/adoption.png" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="body">
          <span translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.S1" }}</span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="body">
          <span translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.S2" }}</span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="body">
          <span translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.S3" }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center" translate>{{ "SERVICES.JAVASCRIPT1.H2" }}</h2>
      </div>
    </div>
  </div>
</div>
