<div class="javascript2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="body">
          <span translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.S1" }}</span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="body">
          <span translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.S2" }}</span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="body">
          <span translate>{{ "SERVICES.JAVASCRIPT1.CONTENT.S3" }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h4 class="text-center" translate>{{ "SERVICES.JAVASCRIPT1.PB" }}</h4>
        <h2 class="text-center" translate>{{ "SERVICES.JAVASCRIPT1.HB" }}</h2>
      </div>
    </div>
  </div>
</div>
