<div class="splash">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center" translate>{{ 'SERVICES.SPLASH.CATCH' }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="separator-dark-red">
          <span></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center" translate>{{ 'SERVICES.SPLASH.MISSION' }}</h2>
      </div>
    </div>
    <nav>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <a href="#nosql" du-smooth-scroll du-scrollspy>
              <span class="glyphicon glyphicon-leaf"></span>
            </a>
            <h3>{{ 'SERVICES.NOSQL.H' | translate }}</h3>
            <p>{{ 'SERVICES.NOSQL.P' | translate }}</p>
          </div>
          <div class="col-lg-3">
            <a href="#backend" du-smooth-scroll du-scrollspy>
              <span class="glyphicon glyphicon-hdd"></span>
            </a>
            <h3>{{ 'SERVICES.BACKEND.H' | translate }}</h3>
            <p>{{ 'SERVICES.BACKEND.P' | translate }}</p>
          </div>
          <div class="col-lg-3">
            <a href="#frontend" du-smooth-scroll du-scrollspy>
              <span class="glyphicon glyphicon-dashboard"></span>
            </a>
            <h3>{{ 'SERVICES.FRONTEND.H' | translate }}</h3>
            <p>{{ 'SERVICES.FRONTEND.P' | translate }}</p>
          </div>
          <div class="col-lg-3">
            <a href="#datavisualization" du-smooth-scroll du-scrollspy>
              <span class="glyphicon glyphicon-stats"></span>
            </a>
            <h3>{{ 'SERVICES.DATAVISUALIZATION.H' | translate }}</h3>
            <p>{{ 'SERVICES.DATAVISUALIZATION.P' | translate }}</p>
          </div>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-lg-12">
        <div class="separator-grey">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>
