@import './globals';
@import './splash';

.home {
  .rp-line.bottom {
    h3 { padding-bottom: 10px; }
  }
  .content {
    .row > div {
      background: url('../images/hex-border.svg') center center no-repeat;
      background-size: cover;
      div {
        position: relative;
        padding: 0 25px;
        margin: 70px 0;
        p { min-height: 120px; }
      }
      &.center {
        background: url('../images/hex-shape-border.svg') center center no-repeat;
        background-size: cover;
        div {
          h3 {
            color: @grey;
            border-color: @dark-red;
          }
          p { color: @grey; }
          h4 span { color: @grey; }
        }
      }
    } 
    h3 {
      color: @red;
      font-size: 20px;
      border-bottom: 1px solid @light-red;
      padding-bottom: 7px;
      text-transform: uppercase;
    }
    h4 span {
      color: @light-red;
      font-size: 42px;
    }
  }
}
