@import './globals';
@import './directives';
@import './mixins/animation';

@media (min-width: 1200px) {
  .container { max-width: 970px; }
}

body {
  padding-top: 45px;
  font-family: @amble-regular-font;
  #ng-view {
    &.ng-enter { .animation(fadeInDown, 1s); }
  }
  a {
    outline: none;
    cursor: pointer;
  }
}

@import './header';
@import './home';
@import './services';
@import './footer';
