@import './globals';

@media (min-width: 1200px) {
  .container { max-width: 970px; }
}


body {
  padding-top: 45px;
  font-family: @amble-regular-font;
}

@import './header.less';
@import './splash.less';

.line {
  margin-top: 70px;
  margin-bottom: 50px;
  h3 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 26px;
    border-bottom: 1px solid @grey;
    padding-bottom: 70px;
  }
  h4 { font-family: @fanwood-regular-font; }
}

.underline {
  h3 {
    color: @red;
    span { color: @dark-grey; }
  }
}

.interline, .bottomline {
  border-top: 1px solid @darker-grey;
  border-bottom: 1px solid @darker-grey;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: @dark-grey;
  h3 {
    color: @grey;
    span { color: @red; }
  }
  h4 {
    color: @grey;
    a {
      color: @red;
      &:hover { color: @red; }
    }
  }
}

.bottomline {
  margin-bottom: 0;
  h4 { margin-bottom: 20px; }
  form {
    .form-control {
      border-radius: 0;
      &:focus {
        border-color: rgba(215, 75, 75, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(215, 75, 75, 0.6);
        outline: none;
      }
    }
    input[type='email'] { margin-top: 26px; }
  }
}

.content {
  h3 {
    font-family: @amble-regular-font;
    border-bottom: 1px solid @grey;
    padding-bottom: 7px;
    span { color: @red; }
  }
}

.footer {
  background-color: @darker-grey;
  padding-top: 25px;
  padding-bottom: 25px;
  p {
    span { color: @grey; }
    span.glyphicon { color: @red; }
    color: @dark-grey;
    margin: 0;
  }
}
