@import './globals';

.menu {
  nav {
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border: 0 solid @darkest-grey;
    background-color: rgba(0,0,0,0);
    .transitions(border-width 0.3s; background-color 0.3s, height 0s 0.3s);
    ul {
      top: 44px;
      left: 0;
      position: fixed;
      margin: 0;
      padding: 0;
      list-style: none;
      visibility: hidden;
      opacity: 0;
      .transition(opacity, 0.25s);
      li {
        width: 150px;
        height: 50px;
        line-height: 50px;
        border-top: 1px solid @darker-grey;
        a {
          padding: 0 18px;
          color: @grey;
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          text-align: left;
          .transition();
          span { margin-right: 10px; }
          &:hover, &.active {
            color: @red;
            // .transition(translateX(20px));
          }
        }
      }
      &:last-child li { border-bottom: 1px solid @darker-grey; }
    }
    .overlay {
      position: absolute;
      width: 100%;
      z-index: 1001;
    }
    a.toggle {
      z-index: 1002;
      position: fixed;
      top: 10px;
      left: 15px;
      display: block;
      width: 20px;
      height: 20px;
      &:hover, &:active {
        span, span:before, span:after { background-color: @white; }
      }
      span {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        background-color: @grey;
        .transition();
        &:before, &:after {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: @grey;
          content: '';
          .transition();
        }
        &:before { .transform(translateY(250%)); }
        &:after { .transform(translateY(-250%)); }
      }
    }
    &.active {
      height: 100%;
      border-width: 0 0 0 150px;
      background-color: rgba(0,0,0,0.15);
      .transitions(border-width 0.3s; background-color 0.5s);
      .overlay { height: 100%; }
      ul {
        visibility: visible;
        opacity: 1;
        .transition(opacity, 0.2s, 0.2s);
      }
      a.toggle {
        span {
          background-color: transparent;
          &:before { .transform(translateY(0) rotate(-45deg)); }
          &:after { .transform(translateY(0) rotate(45deg)); }
        }
      }
    }
  }
  .breadcrumbs {
    z-index: 1001;
    position: fixed;
    top: 12px;
    left: 50px;
    color: @grey;
    text-transform: uppercase;
  }
}
