@import 'globals';
@import './mixins/hexagon';
@import './mixins/transform';

.services {
  nav {
    .row > div {
      a {
        background: url('../images/hex-shape-border.svg') center center no-repeat;
        background-size: contain;
        position: relative;
        padding: 20px;
        text-align: center;
        display: block;
        text-decoration: none;
        color: @grey;
        font-size: 50px;
        span { top: 10px; }
      }
    }
  }
}
