@import 'globals';

.services {
  .rp-line.bottom {
    h3 { padding-bottom: 10px; }
  }

  svg {
    rect {
      stroke: @light-red;
      stroke-width: 4px;
      fill: @white;
    }
    text {
      fill: @red;
      font-size: 14px;
    }
    line {
      stroke: @light-red;
      stroke-width: 3px;
    }
  }
}
