@import './globals';

.splash {
  background-image: url('/images/pattern-dot-dark-red.png');
  .separator-dark-red {
    span {
      display: block;
      .hexagon(20, @dark-red);
    }
  }
  .separator-grey {
    position: relative;
    top: 12px;
    span {
      display: block;
      .hexagon(20, @grey);
    }
  }
  background-color: @red;
  color: @grey;
  h1 {
    margin-top: 40px;
    font-size: 200px;
  }
  h2 {
    font-size: 50px;
    margin-top: 0;
  }
  h3 {
    color: @grey;
    margin-bottom: 30px;
    font-size: 20px;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 50px;
    a { .fade-link(); }
  }
}
