@import './globals';
@import './mixins/hexagon';
@import './mixins/fade-link';

.splash {
  .separator-dark-red {
    span {
      display: block;
      .hexagon(20, @dark-red);
    }
  }
  .separator-grey {
    position: relative;
    top: 12px;
    span {
      display: block;
      .hexagon(20, @grey);
    }
  }
  background-color: @red;
  color: @grey;
  ::selection, ::-moz-selection {
     color: @red;
     background-color: white;
  }
  h1 {
    margin-top: 40px;
    font-size: 200px;
  }
  h2 {
    font-size: 50px;
    font-family: @amble-regular-font;
    margin-top: 0;
  }
  h3 {
    font-family: @amble-regular-font;
    text-transform: uppercase;
    color: @grey;
    margin-bottom: 30px;
    font-size: 22px;
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 50px;
    a { .fade-link(); }
  }
}
