@import 'globals';

.technologies {
  @import './technologies/nav';
  @import './technologies/headroom';
  @import './technologies/splash';

  .javascript .javascript1, #datavisualization, #backend, .contact {
    background-image: url('/images/pattern-dot-grey.png');
    background-color: @light-grey;
  }
  .javascript .javascript2, #frontend, #nosql {
    background-image: url('/images/pattern-dot-light-grey.png');
    background-color: @white;
  }
  #datavisualization, #frontend, #backend, #nosql {
    img {
      width: auto;
      max-width: 500px;
      padding-bottom: 40px;
    }
  }
  #datavisualization img { max-width: none; }
  .contact {
    a { .fade-link(@light-grey, @red); }
  }
}
