<div class="content slide">
  <div class="container">
    <div class="strip top">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a href="http://www.oecd.org/">
            <img src="images/oecd.svg"/>
          </a>
          <p translate>{{ "PORTFOLIO.CLIENT5.P" }}</p>
          <p>
            <span class="label label-rp">React</span>
            <span class="label label-rp">ES6</span>
            <span class="label label-rp">D3JS</span>
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a href="https://www.rothschildgestion.com">
            <img src="images/rothschild.svg"/>
          </a>
          <p translate>{{ "PORTFOLIO.CLIENT1.P" }}</p>
          <p>
            <span class="label label-rp">D3JS</span>
            <span class="label label-rp">AngularJS</span>
            <span class="label label-rp">Node.js</span>
            <span class="label label-rp">MongoDB</span>
          </p>
        </div>
      </div>
    </div>
    <div class="strip">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a href="http://www.factset.com/">
            <img src="images/factset.png"/>
          </a>
          <p translate>{{ "PORTFOLIO.CLIENT2.P" }}</p>
          <p>
            <span class="label label-rp">D3JS</span>
            <span class="label label-rp">AngularJS</span>
            <span class="label label-rp">Node.js</span>
            <span class="label label-rp">MongoDB</span>
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a href="http://www.platform5.ch">
            <img src="images/platform5.png"/>
          </a>
          <p translate>{{ "PORTFOLIO.CLIENT3.P" }}</p>
          <p>
            <span class="label label-rp">Node.js</span>
            <span class="label label-rp">MongoDB</span>
          </p>
        </div>
      </div>
    </div>
    <div class="strip">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <a href="https://www.lexsi.com">
            <img src="images/lexsi.png"/>
          </a>
          <p translate>{{ "PORTFOLIO.CLIENT4.P" }}</p>
          <p>
            <span class="label label-rp">AngularJS</span>
            <span class="label label-rp">ES6</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
