<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h1>Full Stack.</h1>
        <h1>Software.</h1>
        <h1>Company.</h1>
        <h2>We are redpelicans.</h2>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4 text-right">
        <span class="glyphicon glyphicon-send splash"></span>
      </div>
    </div>
  </div>
</div>

<div class="row breadcrumb">
  <div class="container text-center">
    <h3>
      <span class="glyphicon glyphicon-chevron-left"></span>
      We provide complete solution from the very first step of your project to its happy end.
      <span class="glyphicon glyphicon-chevron-right"></span>
    </h3>
  </div>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div ng-include="'partials/footer'"></div>
