<div class="consulting slide">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2 class="text-center" translate>{{ "HOME.CONSULTING1.H" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-road"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "HOME.CONSULTING1.CONTENT.H1" }}</h3>
          <p translate>{{ "HOME.CONSULTING1.CONTENT.P1" }}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-flash"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "HOME.CONSULTING1.CONTENT.H2" }}</h3>
          <p translate>{{ "HOME.CONSULTING1.CONTENT.P2" }}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-record"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "HOME.CONSULTING1.CONTENT.H3" }}</h3>
          <p translate>{{ "HOME.CONSULTING1.CONTENT.P3" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
