<div class="consulting slide">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
        <h2 class="text-center" translate>{{ "HOME.CONSULTING2.H" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
        <div class="head">
          <span class="glyphicon glyphicon-wrench"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "HOME.CONSULTING2.CONTENT.H1" }}</h3>
          <p translate>{{ "HOME.CONSULTING2.CONTENT.P1" }}</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 hidden-xs hidden-sm">
        <div class="head invisible">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="body">
          <br /><br /><br />
          <a href="mailto:contact@redpelicans.com" class="fade-link" translate>{{ 'CONTACTUS' }}</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-xs-12 col-sm-6">
        <div class="head">
          <span class="glyphicon glyphicon-flag"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "HOME.CONSULTING2.CONTENT.H2" }}</h3>
          <p translate>{{ "HOME.CONSULTING2.CONTENT.P2" }}</p>
        </div>
      </div>
      <div class="col-xs-12 visible-xs col-sm-12 visible-sm">
        <a href="mailto:contact@redpelicans.com" class="fade-link" translate>{{ 'CONTACTUS' }}</a>
      </div>
    </div>
  </div>
</div>
