<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 hex partial-dark-grey">
        <div>
          <p translate>{{ 'HOME.FRONTEND.P' }}</p>
        </div>
      </div>
      <div class="col-lg-3 hex full-dark-grey">
        <div>
          <h4><span class="glyphicon glyphicon-dashboard"></span></h4>
          <h3 translate>{{ 'HOME.FRONTEND.H' }}</h3>
        </div>
      </div>
      <div class="col-lg-3 hex full-dark-grey">
        <div>
          <h4><span class="glyphicon glyphicon-stats"></span></h4>
          <h3 translate>{{ 'HOME.DATAVISUALIZATION.H' }}</h3>
        </div>
      </div>
      <div class="col-lg-3 hex partial-dark-grey">
        <div>
          <p translate>{{ 'HOME.DATAVISUALIZATION.P' }}</p>
        </div>
      </div>
    </div>
    <div class="center-row">
      <div class="row">
        <div class="col-lg-9 center-block">
          <div class="row">
            <div class="col-lg-4 hex partial-red">
              <div>
                <p translate>{{ 'HOME.CONSULTING.P1' }}</p>
              </div>
            </div>
            <div class="col-lg-4 hex full-red">
              <div>
                <h4><span class="glyphicon glyphicon-send"></span></h4>
                <h3 translate>{{ 'HOME.CONSULTING.H' }}</h3>
              </div>
            </div>
            <div class="col-lg-4 hex partial-red">
              <div>
                <p translate>{{ 'HOME.CONSULTING.P2' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 hex partial-dark-grey">
        <div>
          <p translate>{{ 'HOME.BACKEND.P' }}</p>
        </div>
      </div>
      <div class="col-lg-3 hex full-dark-grey">
        <div>
          <h4><span class="glyphicon glyphicon-hdd"></span></h4>
          <h3 translate>{{ 'HOME.BACKEND.H' }}</h3>
        </div>
      </div>
      <div class="col-lg-3 hex full-dark-grey">
        <div>
          <h4><span class="glyphicon glyphicon-leaf"></span></h4>
          <h3 translate>{{ 'HOME.NOSQL.H' }}</h3>
        </div>
      </div>
      <div class="col-lg-3 hex partial-dark-grey">
        <div>
          <p translate>{{ 'HOME.NOSQL.P' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
