<div class="splash">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h1 class="text-center">
          <span class="glyphicon glyphicon-send"></span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h2 class="text-center" translate>{{ 'HOME.SPLASH.CATCH' }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="separator-dark-red">
          <span></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h3 class="text-center" translate>{{ 'HOME.SPLASH.MISSION' }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h3 class="text-center" translate>{{ 'HOME.SPLASH.WHO' }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <h4 class="text-center">
          <a href="mailto:contact@redpelicans.com" translate>{{ 'CONTACTUS' }}</a>
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="separator-grey">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>
