@font-face {
  font-family: 'amble-regular';
  src: url("/fonts/amble-regular.eot");
  src: url("/fonts/amble-regular.eot?iefix") format('embedded-opentype'), url("/fonts/amble-regular.woff") format('woff'), url("/fonts/amble-regular.ttf") format('truetype'), url("/fonts/amble-regular.svg#amble-regular") format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}
@font-face {
  font-family: 'roboto-regular';
  src: url("/fonts/roboto-regular.eot");
  src: url("/fonts/roboto-regular.eot?iefix") format('embedded-opentype'), url("/fonts/roboto-regular.woff") format('woff'), url("/fonts/roboto-regular.ttf") format('truetype'), url("/fonts/roboto-regular.svg#roboto-regular") format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}
@imports '../globals';
.hex a {
  border-bottom: 1px dotted;
  text-decoration: none;
}
.hex.full-red {
  background: url('../images/hex-border-dark-red-bg-red.svg') center center no-repeat;
  background-size: cover;
  color: #dcddd8;
}
.hex.full-red a {
  color: #dcddd8;
}
.hex.full-red a:hover {
  color: #ffffff;
}
.hex.partial-red {
  background: url('../images/hex-border-dark-red.svg') center center no-repeat;
  background-size: cover;
  color: #bb3c2f;
}
.hex.partial-red a {
  color: #bb3c2f;
}
.hex.partial-red a:hover {
  color: #424242;
}
.hex.full-dark-grey {
  background: url('../images/hex-border-darker-grey-bg-dark-grey.svg') center center no-repeat;
  background-size: cover;
  color: #dcddd8;
}
.hex.full-dark-grey a {
  color: #dcddd8;
}
.hex.full-dark-grey a:hover {
  color: #ffffff;
}
.hex.partial-dark-grey {
  background: url('../images/hex-border-darker-grey.svg') center center no-repeat;
  background-size: cover;
  color: #424242;
}
.hex.partial-dark-grey a {
  color: #424242;
}
.hex.partial-dark-grey a:hover {
  color: #cd4436;
}
.menu nav {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 170px;
  height: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: #424242;
  background-image: url('/images/pattern-dot-darker-grey.png');
  border-right: 1px solid #333333;
}
.menu nav ul {
  margin: 44px 0 0 0;
  padding: 0;
  border-top: 1px solid #333333;
  list-style: none;
}
.menu nav ul li a {
  margin: 0 15px;
  padding: 15px 0;
  color: #dcddd8;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.menu nav ul li a span {
  margin: 0 10px 0 2px;
}
.menu nav ul li a:hover {
  color: #ffffff;
}
.menu nav ul li a.active {
  color: #cd4436;
}
.menu nav ul li a .inverse {
  color: #cd4436;
}
.menu nav ul li a .inverse:hover {
  color: #bb3c2f;
}
.menu .overlay {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.3s, height 0s 0.3s;
  -moz-transition: background-color 0.3s, height 0s 0.3s;
  -o-transition: background-color 0.3s, height 0s 0.3s;
  transition: background-color 0.3s, height 0s 0.3s;
}
.menu.active nav {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.menu.active .overlay {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.15);
}
