<div id="frontend" class="slide">
  <div class="container">
    <div class="strip top">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 translate>{{ "TECHNOLOGIES.FRONTEND.H" }}</h1>
          <p translate>{{ "TECHNOLOGIES.FRONTEND.CONTENT.P1" }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="body">
          <img src="images/angularjs.png" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="body">
          <h4 translate>{{ "TECHNOLOGIES.FRONTEND.CONTENT.H2" }}</h4>
          <p translate>{{ "TECHNOLOGIES.FRONTEND.CONTENT.P2" }}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="body">
          <h4 translate>{{ "TECHNOLOGIES.FRONTEND.CONTENT.H3" }}</h4>
          <p class="fat" translate>{{ "TECHNOLOGIES.FRONTEND.CONTENT.P3" }}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="body">
          <h4 translate>{{ "TECHNOLOGIES.FRONTEND.CONTENT.H4" }}</h4>
          <p translate>{{ "TECHNOLOGIES.FRONTEND.CONTENT.P4" }}</p>
        </div>
      </div>
    </div>
    <div class="strip bottom">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <p translate>{{ "TECHNOLOGIES.FRONTEND.CONTENT.P5" }}</p>
          <!-- <iframe width="500" height="330" src="//www.google.com/trends/fetchComponent?hl=en&#45;US&#38;amp;q=angularjs,+emberjs,+knockoutjs,+backbonejs&#38;amp;date=1/2010+49m&#38;amp;cmpt=q&#38;amp;content=1&#38;amp;cid=TIMESERIES_GRAPH_0&#38;amp;export=5&#38;amp;w=500&#38;amp;h=330" style="border: none;"></iframe> -->
          <p translate>{{ "TECHNOLOGIES.FRONTEND.CONTENT.P6" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
