<div class="javascript1 slide">
  <div class="container">
    <div class="strip top">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1 translate>{{ "TECHNOLOGIES.JAVASCRIPT1.H1" }}</h1>
          <p translate>{{ "TECHNOLOGIES.JAVASCRIPT1.P1" }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-signal"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "TECHNOLOGIES.JAVASCRIPT1.CONTENT.H1" }}</h3>
          <p translate>{{ "TECHNOLOGIES.JAVASCRIPT1.CONTENT.P1" }}</p>
          <span translate>{{ "TECHNOLOGIES.JAVASCRIPT1.CONTENT.S1" }}</span>
          <img src="images/performance.png" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-globe"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "TECHNOLOGIES.JAVASCRIPT1.CONTENT.H2" }}</h3>
          <p translate>{{ "TECHNOLOGIES.JAVASCRIPT1.CONTENT.P2" }}</p>
          <span translate>{{ "TECHNOLOGIES.JAVASCRIPT1.CONTENT.S2" }}</span>
          <img src="images/ecosystem.png" />
        </div>
      </div>
      <div class="col-lg-4">
        <div class="head">
          <span class="glyphicon glyphicon-heart"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "TECHNOLOGIES.JAVASCRIPT1.CONTENT.H3" }}</h3>
          <p translate>{{ "TECHNOLOGIES.JAVASCRIPT1.CONTENT.P3" }}</p>
          <span translate>{{ "TECHNOLOGIES.JAVASCRIPT1.CONTENT.S3" }}</span>
          <img src="images/adoption.png" />
        </div>
      </div>
    </div>
    <div class="strip bottom">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <p translate>{{ "TECHNOLOGIES.JAVASCRIPT1.H2" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
