<nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div>
          <a href="#datavisualization" du-smooth-scroll du-scrollspy offset=115 duration="2000">
            <span class="glyphicon glyphicon-stats"></span>
          </a>
          <h3>{{ 'TECHNOLOGIES.DATAVISUALIZATION.H' | translate }}</h3>
          <p>{{ 'TECHNOLOGIES.DATAVISUALIZATION.P' | translate }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div>
          <a href="#frontend" du-smooth-scroll du-scrollspy offset=115 duration="2000">
            <span class="glyphicon glyphicon-dashboard"></span>
          </a>
          <h3>{{ 'TECHNOLOGIES.FRONTEND.H' | translate }}</h3>
          <p>{{ 'TECHNOLOGIES.FRONTEND.P' | translate }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div>
          <a href="#backend" du-smooth-scroll du-scrollspy offset=115 duration="2000">
            <span class="glyphicon glyphicon-hdd"></span>
          </a>
          <h3>{{ 'TECHNOLOGIES.BACKEND.H' | translate }}</h3>
          <p>{{ 'TECHNOLOGIES.BACKEND.P' | translate }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <div>
          <a href="#nosql" du-smooth-scroll du-scrollspy offset=115 duration="2000">
            <span class="glyphicon glyphicon-leaf"></span>
          </a>
          <h3>{{ 'TECHNOLOGIES.NOSQL.H' | translate }}</h3>
          <p>{{ 'TECHNOLOGIES.NOSQL.P' | translate }}</p>
        </div>
      </div>
      <i class="line"><i class="cursor"></i></i>
    </div>
  </div>
</nav>
