<div class="splash">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="text-center" translate>{{ 'TECHNOLOGIES.SPLASH.H1' }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="separator-dark-red">
          <span></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3 class="text-center" translate>{{ 'TECHNOLOGIES.SPLASH.H2' }}</h2>
        <h3 class="text-center" translate>{{ 'TECHNOLOGIES.SPLASH.H3' }}</h2>
      </div>
    </div>
    <div ng-include="'views/technologies/nav.html'" class="hidden-xs"></div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="separator-grey">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>
