<div class="grey slide devops">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
        <h2 class="text-center" translate>{{ "HOME.DEVOPS.H1" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 visible-xs col-sm-12 visible-sm">
        <div class="body">
          <span class="glyphicon glyphicon-cloud-upload"></span>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-xs-12 col-sm-6">
        <div class="body">
          <h3 translate>{{ "HOME.DEVOPS.CONTENT.H1" }}</h3>
          <p translate>{{ "HOME.DEVOPS.CONTENT.P1" }}</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 hidden-xs hidden-sm">
        <div class="head invisible">
          <span class="glyphicon glyphicon-cloud-upload"></span>
        </div>
        <div class="body">
          <br /><br />
          <span class="glyphicon glyphicon-cloud-upload"></span>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-xs-12 col-sm-6">
        <div class="body">
          <h3 translate>{{ "HOME.DEVOPS.CONTENT.H2" }}</h3>
          <p translate>{{ "HOME.DEVOPS.CONTENT.P2" }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
        <h2 class="text-center" translate>{{ "HOME.DEVOPS.H2" }}</h2>
      </div>
    </div>
  </div>
</div>
