<div id="hiring" class="hiring slide">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
        <h2 class="text-center" translate>{{ "HOME.HIRING.H" }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12">
        <div class="head">
          <span class="glyphicon glyphicon-tree-deciduous"></span>
        </div>
        <div class="body">
          <h3 translate>{{ "HOME.HIRING.CONTENT.H" }}</h3>
          <p translate>{{ "HOME.HIRING.CONTENT.P" }}</p>
          <a href="mailto:contact@redpelicans.com" class="fade-link" translate>{{ 'APPLYNOW' }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
