<div id="nosql" class="slide">
  <div class="container">
    <div class="strip top">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-10 col-sm-12 col-xs-12">
          <h1 translate>{{ "TECHNOLOGIES.NOSQL.H" }}</h1>
          <p translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.P1" }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="body">
          <img src="images/mongodb.png" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="body">
          <h4 translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.H2" }}</h4>
          <p translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.P2" }}</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="body">
          <h4 translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.H3" }}</h4>
          <p translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.P3" }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="body">
          <h4 translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.H4" }}</h4>
          <p translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.P4" }}</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="body">
          <h4 translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.H5" }}</h4>
          <p translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.P5" }}</p>
        </div>
      </div>
    </div>
    <div class="strip bottom">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-10 col-sm-12 col-xs-12">
          <p translate>{{ "TECHNOLOGIES.NOSQL.CONTENT.P6" }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
