<div ng-include="'views/splash.html'"></div>

<div class="home">
  <rp-line data-overrides="top">
    <h3 class="text-center" translate>{{ 'GENERAL.UNDERLINE' }}</h3>
  </rp-line>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4 class="text-center"><span class="glyphicon glyphicon-dashboard"></span></h4>
          <h3 class="text-center" translate>{{ 'HOME.FRONTEND.H' }}</h3>
          <p class="text-center" translate>{{ 'HOME.FRONTEND.P' }}</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4">
          <h4 class="text-center"><span class="glyphicon glyphicon-stats"></span></h4>
          <h3 class="text-center" translate>{{ 'HOME.DATAVISUALIZATION.H' }}</h3>
          <p class="text-center" translate>{{ 'HOME.DATAVISUALIZATION.P' }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 center">
          <div>
            <h4 class="text-center"><span class="glyphicon glyphicon-send"></span></h4>
            <h3 class="text-center" translate>{{ 'HOME.CONSULTING.H' }}</h3>
            <p class="text-center" translate>{{ 'HOME.CONSULTING.P' }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h4 class="text-center"><span class="glyphicon glyphicon-hdd"></span></h4>
          <h3 class="text-center" translate>{{ 'HOME.BACKEND.H' }}</h3>
          <p class="text-center" translate>{{ 'HOME.BACKEND.P' }}</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4">
          <h4 class="text-center"><span class="glyphicon glyphicon-leaf"></span></h4>
          <h3 class="text-center" translate>{{ 'HOME.NOSQL.H' }}</h3>
          <p class="text-center" translate>{{ 'HOME.NOSQL.P' }}</p>
        </div>
      </div>
    </div>
  </div>

  <rp-line data-overrides="bottom">
    <h3 class="text-center" translate>{{ 'GENERAL.TALKUS' }}</h3>
    <h4 class="text-center">
      <a href="mailto:contact@redpelicans.com" translate>{{ 'GENERAL.EMAILUS' }}</a>
    </h4>
  </rp-line>
</div>

<div ng-include="'views/footer.html'"></div>
