<div ng-include="'views/header.html'"></div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h1 translate>{{ 'GENERAL.FULLSTACK' }}</h1>
        <h1 translate>{{ 'GENERAL.JAVASCRIPT' }}</h1>
        <h1 translate>{{ 'GENERAL.COMPANY' }}</h1>
        <h2 translate>{{ 'GENERAL.MISSION' }}</h2>
      </div>
      <div class="col-lg-5 text-right">
        <span class="glyphicon glyphicon-send splash"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" class="text-center">
      <a href="#" class="call">Call to action</a>
    </div>
  </div>
</div>

<div class="line underline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-center" translate>{{ 'GENERAL.UNDERLINE' }}</h3>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="text-center" translate>{{ 'HOME.NOSQL.H' }}</h3>
        <p class="text-center" translate>{{ 'HOME.NOSQL.P' }}</p>
      </div>
      <div class="col-lg-4 col-lg-offset-4">
        <h3 class="text-center" translate>{{ 'HOME.DATAVISUALIZATION.H' }}</h3>
        <p class="text-center" translate>{{ 'HOME.DATAVISUALIZATION.P' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
        <h3 class="text-center" translate>{{ 'HOME.CONSULTING.H' }}</h3>
        <p class="text-center" translate>{{ 'HOME.CONSULTING.P' }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <h3 class="text-center" translate>{{ 'HOME.FRONTEND.H' }}</h3>
        <p class="text-center" translate>{{ 'HOME.FRONTEND.P' }}</p>
      </div>
      <div class="col-lg-4 col-lg-offset-4">
        <h3 class="text-center" translate>{{ 'HOME.BACKEND.H' }}</h3>
        <p class="text-center" translate>{{ 'HOME.BACKEND.P' }}</p>
      </div>
    </div>
  </div>
</div>

<div class="line bottomline">
  <div class="container">
    <h3 class="text-center" translate>{{ 'GENERAL.TALKUS' }}</h3>
    <h4 class="text-center" translate>{{ 'GENERAL.EMAILUS' }}</h4>
  </div>
</div>

<div ng-include="'views/footer.html'"></div>
