<div class="menu">
  <ul>
    <li>
      <a href="/">
        <span class="glyphicon glyphicon-home"></span>
        {{ 'GENERAL.HOME' | translate }}
      </a>
    </li>
    <li>
      <a href="/#/services/home">
        <span class="glyphicon glyphicon-briefcase"></span>
        {{ 'GENERAL.SERVICES' | translate }}
      </a>
    </li>
    <li>
      <a href="/#/stories">
        <span class="glyphicon glyphicon-book"></span>
        {{ 'GENERAL.STORIES' | translate }}
      </a>
    </li>
    <li>
      <a href="/#/lab">
        <span class="glyphicon glyphicon-cog"></span>
        {{ 'GENERAL.LAB' | translate }}
      </a>
    </li>
  </ul>
</div>
