<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="glyphicon glyphicon-send"></span>
      &nbsp;{{ 'REDPELICANS' | translate }}
    </a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/services" translate>{{ 'GENERAL.SERVICES' }}</a></li>
      <li><a href="/stories" translate>{{ 'GENERAL.STORIES' }}</a></li>
      <li><a href="/lab" translate>{{ 'GENERAL.LAB' }}</a></li>
      <li><a href="mailto:contact@redplicans.com" translate>{{ 'GENERAL.CONTACTUS' }}</a></li>
    </ul>
  </div>
</nav>
