<div class="services">
  <headroom tolerance="5" offset="502">
    <div ng-include="'views/services/nav.html'"></div>
  </headroom>

  <div ng-include="'views/services/splash.html'"></div>

  <div class="consulting">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h2 class="text-center" translate>{{ "SERVICES.CONSULTING.H" }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="head">
            <span class="glyphicon glyphicon-road"></span>
          </div>
          <div class="body">
            <h3 translate>{{ "SERVICES.CONSULTING.CONTENT.H1" }}</h3>
            <p translate>{{ "SERVICES.CONSULTING.CONTENT.P1" }}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="head">
            <span class="glyphicon glyphicon-send"></span>
          </div>
          <div class="body">
            <h3 translate>{{ "SERVICES.CONSULTING.CONTENT.H2" }}</h3>
            <p translate>{{ "SERVICES.CONSULTING.CONTENT.P2" }}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="head">
            <span class="glyphicon glyphicon-record"></span>
          </div>
          <div class="body">
            <h3 translate>{{ "SERVICES.CONSULTING.CONTENT.H3" }}</h3>
            <p translate>{{ "SERVICES.CONSULTING.CONTENT.P3" }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="datavisualization" class="row">
      <div class="col-lg-6">
        <h3>{{ "SERVICES.DATAVISUALIZATION.H" | translate }}</h3>
        <div class="row">
          <div class="col-lg-6">
            <p>{{ "SERVICES.DATAVISUALIZATION.CONTENT.P1" | translate }}</p>
          </div>
          <div class="col-lg-6">
            <p>{{ "SERVICES.DATAVISUALIZATION.CONTENT.P2" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="images/d3js.png" />
      </div>
    </div>
    <div id="frontend" class="row">
      <div class="col-lg-6">
        <img src="images/angularjs.png" />
      </div>
      <div class="col-lg-6">
        <h3>{{ "SERVICES.FRONTEND.H" | translate }}</h3>
        <div class="row">
          <div class="col-lg-12">
            <p>{{ "SERVICES.FRONTEND.CONTENT.P1" | translate }}</p>
            <p>{{ "SERVICES.FRONTEND.CONTENT.P2" | translate }}</p>
            <p>{{ "SERVICES.FRONTEND.CONTENT.P3" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="backend" class="row">
      <div class="col-lg-6">
        <h3>{{ "SERVICES.BACKEND.H" | translate }}</h3>
        <div class="row">
          <div class="col-lg-12">
            <p>{{ "SERVICES.BACKEND.CONTENT.P1" | translate }}</p>
            <p>{{ "SERVICES.BACKEND.CONTENT.P2" | translate }}</p>
            <p>{{ "SERVICES.BACKEND.CONTENT.P3" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="images/nodejs.png" />
      </div>
    </div>
    <div id="nosql" class="row">
      <div class="col-lg-6">
        <img src="images/mongodb.png" />
      </div>
      <div class="col-lg-6">
        <h3>{{ "SERVICES.NOSQL.H" | translate }}</h3>
        <div class="row">
          <div class="col-lg-6">
            <p>{{ "SERVICES.NOSQL.CONTENT.P1" | translate }}</p>
          </div>
          <div class="col-lg-6">
            <p>{{ "SERVICES.NOSQL.CONTENT.P2" | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <rp-line data-overrides="bottom">
    <h3 class="text-center" translate>{{ 'TALKUS' }}</h3>
    <h4 class="text-center">
      <a href="mailto:contact@redpelicans.com" translate>{{ 'EMAILUS' }}</a>
    </h4>
  </rp-line>
</div>

<div ng-include="'views/footer.html'"></div>
