<div class="services">
  <rp-line data-overrides="top condensed">
    <h3 class="text-center" translate>{{ 'SERVICES.UNDERLINE' }}</h3>
  </rp-line>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <!-- Changes to do in svg: -->
        <!-- - add viewBox="0 0 widthOfSvg heightOfSvg" -->
        <!-- - add preserveAspectRatio="xMinYMin meet" -->
        <!-- - remove width and height -->
        <div class="svg-container">
          <div ng-include="'images/services.svg'"></div>
        </div>
      </div>
      <div class="col-lg-8">
        <carousel interval="carousel.interval">
          <slide ng-repeat="slide in carousel.slides" active="slide.active">
            <div ng-include="'views/services/'+slide.template+'.html'"></div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
  <rp-line data-overrides="bottom">
    <h3 class="text-center" translate>{{ 'GENERAL.TALKUS' }}</h3>
    <h4 class="text-center">
      <a href="mailto:contact@redpelicans.com" translate>{{ 'GENERAL.EMAILUS' }}</a>
    </h4>
  </rp-line>
</div>
