<div class="technologies">
  <headroom tolerance="5" offset="555">
    <div ng-include="'views/technologies/nav.html'"></div>
  </headroom>

  <div ng-include="'views/technologies/splash.html'"></div>

  <div class="javascript">
    <div ng-include="'views/technologies/javascript1.html'"></div>
    <div ng-include="'views/technologies/javascript2.html'"></div>
  </div>

  <div ng-include="'views/technologies/datavisualization.html'"></div>
  <div ng-include="'views/technologies/frontend.html'"></div>
  <div ng-include="'views/technologies/backend.html'"></div>
  <div ng-include="'views/technologies/nosql.html'"></div>

  <div ng-include="'views/technologies/contact.html'"></div>
</div>

<div ng-include="'views/footer.html'"></div>
